<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="../vue.js" defer></script>
	<script src="main.js" defer></script>
	<title>Formulaire Vue.js</title>
	<link href="style.css" rel="stylesheet">
</head>
<body>
	<main id="app">
		<pre>{{$data}}</pre>
		
		<form>
			<label for="nom">Nom :</label> 
			<input v-model="utilisateur.nom" type="text" id="nom" placeholder="Nom" /><br />
			<label for="prenom">Prénom :</label> 
			<input v-model="utilisateur.prenom" type="text" id="prenom" placeholder="Prénom" /><br />

			<br/>

			<input v-model="utilisateur.souhaiteEtreNotifie" type="checkbox" id="check" />
			<label for="check">Être notifié</label><br />

			<br/>

			<fieldset>
				<legend>Genre</legend>
				
				<input v-model="utilisateur.genre" type="radio" id="radioh" value="Homme" /> <label for="radioh">Homme</label>
				
				<input v-model="utilisateur.genre" type="radio" id="radiof" value="Femme" /> <label for="radiof">Femme</label>
			</fieldset>

			<br/>

			<select v-model="utilisateur.situation">
				<option value="">Non indiqué</option>
				<option value="etudiant">Etudiant</option>
				<option value="employe">Employé</option>
				<option value="sansEmploi">Sans emploi</option>
			</select>

			<br/>
			<br/>

			<label for="number">Âge</label>
			<input v-model.number="utilisateur.age" type="number" id="number" min="7" max="77" />
		</form>
	</main>
</body>
</html>